

.spinner {
    display: block;
    position: fixed;
    z-index: 1031; /* High z-index so it is on top of the page */
    top: 50%;
    right: 50%; /* or: left: 50%; */
    margin-top: -5rem; /* half of the elements height */
    margin-right: -5rem; /* half of the elements widht */
    height: 10rem;
    width: 10rem;
}

.full-width{
    width: 100% !important;
    left: 0 !important;
}
#content-screen {
    /* height: 700px; */
    overflow-y: hidden;
    color: black;

}

/*body { background-color: #00ff00}*/

#title-bar, table, #myTable, #content-screen {
    background-color: #ffffff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
    font-size: 30px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*body {*/
/*    overflow-y: hidden;*/
/*}*/
