.fll-spacer {
    height: 20px;
}
.fll-beside {
    display: inline-block;
}

.fll-right {
    float: right;
}

.scoreform-spacer{
    margin-top: 20px;
}

.hideError{
    display: none !important;
}

.fll-error{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 12px;
    border: 2px solid #65a6da;
    border-radius: 4px;
}

.radio-toolbar label:hover {
    background-color: #65a6da;
}

.radio-toolbar input[type="radio"]:focus + label {
    /*border: 2px dashed #65a6da;*/
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #2f81c4;
}

.button {
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button1:hover {
    background-color: #008CBA;
    color: white;
}

  
.button_disabled {
    opacity: 0.6;
    cursor: not-allowed;
}