.fll-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}

.fll-footer-content {
    margin-bottom: 10px;
    margin-top: 10px;
}

.fll-footer-logo {
    height: 60px;
}